---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Critical styles are loaded first -->
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if kit.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css"/>
    {% endif %}

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}

    <!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-82">
    <div class="cs-container">
        <h1 class="cs-title">Construction & Maintenance Experts in New York City</h1>
        <p class="cs-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. At quis donec eget tellus turpis imperdiet aenean libero. 
        </p>
        <a href="" class="cs-button-solid">Request Appointment</a>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Hero/kitchen-m.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Hero/kitchen.jpg">
        <img decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/kitchen.jpg" alt="kitchen" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<section id="logos-857">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Coverage</span>
            <h2 class="cs-title">Use Your Insurance</h2>
        </div>
        <div class="cs-logo-group">
            <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo5.png" alt="logo" width="150" height="65" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo6.png" alt="logo" width="150" height="55" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo7.png" alt="logo" width="150" height="53" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo8.png" alt="logo" width="150" height="61" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo5.png" alt="logo" width="150" height="65" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo6.png" alt="logo" width="150" height="55" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo7.png" alt="logo" width="150" height="53" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo8.png" alt="logo" width="150" height="61" loading="lazy" decoding="async">
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-72">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/body-builder-m.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/body-builder.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/body-builder.jpg" alt="body builder" width="500" height="552" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Small Group Training</span>
            <h2 class="cs-title">Make your circle healthier together</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc massa ut sed odio cursus. Malesuada scelerisque eget eu, sollicitudin tellus nibh aenean enim sed. Ut vitae eget commodo consectetur felis augue. Condimentum pellentesque sed aliquet leo in potenti libero.
            </p>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a>
        </div>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1338">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Services</span>
            <h2 class="cs-title">Our Popular Services</h2>
            <p class="cs-text">
                In the new era of technology we look in the future with certainty and for any post types, or just they are so much great of all to a program.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">01</span>
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                                srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/finance-screen.jpg">
                        <source media="(min-width: 601px)"
                                srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/finance-screen.jpg">
                        <img decoding="async"
                                src="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/finance-screen.jpg"
                                alt="finance" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-info">
                        <h3 class="cs-h3">Audit & Assurance</h3>
                        <p class="cs-item-text">
                            We consider all the drivers
                        </p>
                    </div>
                </a>
                <!--On Hover Image-->
                <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Icon.svg" alt="arrow"
                        width="412" height="249" aria-hidden="true">
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">02</span>
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                                srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/finance-reading.jpg">
                        <source media="(min-width: 601px)"
                                srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/finance-reading.jpg">
                        <img decoding="async"
                                src="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/finance-reading.jpg"
                                alt="finance" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-info">
                        <h3 class="cs-h3">Tax Advisory Services</h3>
                        <p class="cs-item-text">
                            We consider all the drivers
                        </p>
                    </div>
                </a>
                <!--On Hover Image-->
                <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Icon.svg" alt="arrow"
                        width="412" height="249" aria-hidden="true">
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">03</span>
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                                srcset="https://csimg.nyc3.cdn.digita loceanspaces.com/Images/MISC/finance-laptop.png">
                        <source media="(min-width: 601px)"
                                srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/finance-laptop.jpg">
                        <img decoding="async"
                                src="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/finance-laptop.jpg"
                                alt="finance" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-info">
                        <h3 class="cs-h3">Year-End Tax Planning</h3>
                        <p class="cs-item-text">
                            We consider all the drivers.
                        </p>
                    </div>
                </a>
                <!--On Hover Image-->
                <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Icon.svg" alt="arrow"
                        width="412" height="249" aria-hidden="true">
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">04</span>
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                                srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/finance-bills.jpg">
                        <source media="(min-width: 601px)"
                                srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/finance-bills.jpg">
                        <img decoding="async"
                                src="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/finance-bills.jpg"
                                alt="finance" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-info">
                        <h3 class="cs-h3">Financial Planning</h3>
                        <p class="cs-item-text">
                            We consider all the drivers
                        </p>
                    </div>
                </a>
                <!--On Hover Image-->
                <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Icon.svg" alt="arrow"
                        width="412" height="249" aria-hidden="true">
            </li>
        </ul>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-2144">
    <div class="cs-container">
        <div class="cs-left-section">
            <span class="cs-topper">Contact Info</span>
            <h2 class="cs-title">Get In Touch</h2>
        </div>
        <div class="cs-right-section">
            <div class="cs-contact">
                <a class="cs-phone" href="tel:555-555-5555"> 
                    +1(0) 987 654 321
                </a>
                <a class="cs-email" href="mailto:email@email.com"> 
                    stitchography@gmail.com
                </a>
                <a class="cs-address" href=""> 
                    5the Avenue, E 28th St, Brooklyn NY, 2300 USA
                </a>
                <div class="cs-social">
                    <a href="" class="cs-social-link" target="_blank" aria-label="visit our instagram profile">Instagram</a>
                    <a href="" class="cs-social-link" target="_blank" aria-label="visit our facebook profile">Facebook</a>
                    <a href="" class="cs-social-link" target="_blank" aria-label="visit our linkedin profile">LinkedIn</a>
                </div>
            </div>
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/wedding-rings.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/wedding-rings.jpg">
                <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/wedding-rings.jpg" alt="wedding rings" width="576" height="107">
            </picture>
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-1215">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-content-group">
                <span class="cs-topper">Some good soul</span>
                <h2 class="cs-title">Our Awesome Team Members</h2>
            </div>
            <a href="" class="cs-button" aria-label="read more about us">View All Members</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="https://csimages2.nyc3.digitaloceanspaces.com/Icons/Rectangle%2081.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="https://csimages2.nyc3.digitaloceanspaces.com/Icons/Rectangle%2081.jpg">
                    <img loading="lazy" decoding="async"
                            src="https://csimages2.nyc3.digitaloceanspaces.com/Icons/Rectangle%2081.jpg" alt="mechanic"
                            width="305" height="338">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Hanna Green</span>
                    <span class="cs-job">Tax Advisor</span>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-tax2.svg"
                                    alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-tax2.svg"
                                    alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-tax2.svg"
                                    alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-tax2.svg"
                                    alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="https://csimages2.nyc3.digitaloceanspaces.com/Icons/Rectangle%2082.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="https://csimages2.nyc3.digitaloceanspaces.com/Icons/Rectangle%2082.jpg">
                    <img loading="lazy" decoding="async"
                            src="https://csimages2.nyc3.digitaloceanspaces.com/Icons/Rectangle%2082.jpg" alt="mechanic"
                            width="305" height="338">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Hanna Green</span>
                    <span class="cs-job">Tax Advisor</span>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-tax2.svg"
                                    alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-tax2.svg"
                                    alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-tax2.svg"
                                    alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-tax2.svg"
                                    alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="https://csimages2.nyc3.digitaloceanspaces.com/Icons/Rectangle%2083.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="https://csimages2.nyc3.digitaloceanspaces.com/Icons/Rectangle%2083.jpg">
                    <img loading="lazy" decoding="async"
                            src="https://csimages2.nyc3.digitaloceanspaces.com/Icons/Rectangle%2083.jpg" alt="mechanic"
                            width="305" height="338">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Hanna Green</span>
                    <span class="cs-job">Tax Advisor</span>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-tax2.svg"
                                    alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-tax2.svg"
                                    alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-tax2.svg"
                                    alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-tax2.svg"
                                    alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="https://csimages2.nyc3.digitaloceanspaces.com/Icons/Rectangle%2081.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="https://csimages2.nyc3.digitaloceanspaces.com/Icons/Rectangle%2081.jpg">
                    <img loading="lazy" decoding="async"
                            src="https://csimages2.nyc3.digitaloceanspaces.com/Icons/Rectangle%2081.jpg" alt="mechanic"
                            width="305" height="338">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Hanna Green</span>
                    <span class="cs-job">Tax Advisor</span>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-tax2.svg"
                                    alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-tax2.svg"
                                    alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-tax2.svg"
                                    alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-tax2.svg"
                                    alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="https://csimages2.nyc3.digitaloceanspaces.com/Icons/Rectangle%2082.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="https://csimages2.nyc3.digitaloceanspaces.com/Icons/Rectangle%2082.jpg">
                    <img loading="lazy" decoding="async"
                            src="https://csimages2.nyc3.digitaloceanspaces.com/Icons/Rectangle%2082.jpg" alt="mechanic"
                            width="305" height="338">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Hanna Green</span>
                    <span class="cs-job">Tax Advisor</span>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-tax2.svg"
                                    alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-tax2.svg"
                                    alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-tax2.svg"
                                    alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-tax2.svg"
                                    alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="https://csimages2.nyc3.digitaloceanspaces.com/Icons/Rectangle%2083.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="https://csimages2.nyc3.digitaloceanspaces.com/Icons/Rectangle%2083.jpg">
                    <img loading="lazy" decoding="async"
                            src="https://csimages2.nyc3.digitaloceanspaces.com/Icons/Rectangle%2083.jpg" alt="mechanic"
                            width="305" height="338">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Hanna Green</span>
                    <span class="cs-job">Tax Advisor</span>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-tax2.svg"
                                    alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-tax2.svg"
                                    alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-tax2.svg"
                                    alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-tax2.svg"
                                    alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-1261">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Asked questions</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
        </div>
        <!--We made two lists so when you open an FAQ item, they behave properly and separate from each other, wrapped in a wrapper div for better flexboxxing -->
        <div class="cs-wrapper">
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What are your prices for brake replacement?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Some cleaning plans require a minimum commitment term. Cancelling your plan before the minimum term is complete will result in a $99 fee. If you want to learn more information about how to cancel, please inbox us.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What is your plan cancellation policy?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What are your prices for brake replacement?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What are your prices for brake replacement?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What are your prices for brake replacement?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
            </ul>
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What are your prices for brake replacement?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Some cleaning plans require a minimum commitment term. Cancelling your plan before the minimum term is complete will result in a $99 fee. If you want to learn more information about how to cancel, please inbox us.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What is your plan cancellation policy?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What are your prices for brake replacement?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What are your prices for brake replacement?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What are your prices for brake replacement?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <!--SVG Waves-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves-m.svg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg">
        <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg" loading="lazy" decoding="async" alt="moon" width="1920" height="647">
    </picture>
</section>
                                
<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1694">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">Let's Collaborate</h2>
            <ul class="cs-ul">
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-call.svg"
                                alt="phone icon" class="cs-icon" width="24" height="24" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Our Support</span>
                        <span class="cs-link-text">We are available for your 24/7 support. Call us at</span>
                        <a href="tel:888-4565-789" class="cs-link">+1 (888) 4565 789</a>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" aria-hidden="true"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-message.svg"
                                alt="address icon" width="24" height="24" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Email Us</span>
                        <span class="cs-link-text">Email your questions at</span>
                        <a href="mailto:Email@stitch.com" class="cs-link">info@stitchconsulting.com</a>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" aria-hidden="true"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-account.svg"
                                alt="address icon" width="24" height="24" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Join Our Community</span>
                        <span class="cs-link-text">Join our largest community on whatsapp</span>
                        <a href="https://www.whatsapp.com" class="cs-link">
                            <img class="cs-icon" aria-hidden="true"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/whatsapp.svg"
                                alt="address icon" width="24" height="24" decoding="async">
                            Join Now
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <!--Form-->
        <form class="cs-form" name="Contact Form" method="post">
            <label class="cs-label">
                Name
                <input class="cs-input" required type="text" id="name-1694" name="name" placeholder="Name">
            </label>
            <label class="cs-label">
                Email
                <input class="cs-input" required type="email" id="email-1694" name="email" placeholder="Email">
            </label>
            <label class="cs-label">
                Phone
                <input class="cs-input" required type="tel" id="phone-1694" name="phone" placeholder="Phone">
            </label>
            <label class="cs-label">
                How Did You Find Us
                <input class="cs-input" type="text" id="find-1694" name="find-us" placeholder="How did you find us?">
            </label>
            <label class="cs-label cs-label-message">
                Message
                <textarea class="cs-input cs-textarea" required name="Message" id="message-1694" placeholder="Write message..."></textarea>
            </label>
            <p class="cs-wrapper">
                <button class="cs-button-solid cs-submit" type="submit">Schedule Consultation</button>
            </p>
        </form>
    </div>

    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)"
                srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/enterprise-form-bg-m.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)"
                srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/enterprise-form-bg.jpg">
        <img loading="lazy" decoding="async"
                src="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/enterprise-form-bg.jpg"
                alt="wind turbine" width="650" height="613">
    </picture>
</section>
                                
{% endblock %}